Repository ASE-Delivery-System/delivery-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: heroku-build-frontend, delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity, api-gateway:package, heroku-deploy-api-gateway, discovery-server:package, heroku-deploy-discovery-server

heroku-build-frontend:
  stage: build
  script:
  - cd frontend/
  - docker build -f Dockerfile --iidfile imageid.txt -t registry.heroku.com/ase-delivery-system/web .
  - docker login -u _ -p $HEROKU_TOKEN registry.heroku.com
  - docker push registry.heroku.com/ase-delivery-system/web
  - apk add --no-cache curl
  ...

delivery-service:package:
  image: maven:3.8.4-jdk-11
  stage: package
  script: cd backend/delivery-service && mvn package
  artifacts:
    paths:
    - backend/delivery-service/target/*.jar

heroku-deploy-delivery:
  stage: deploy
  script:
  - cd backend/delivery-service
  - docker build -f Dockerfile --iidfile imageid.txt -t registry.heroku.com/ase-delivery-service/web .
  - docker login -u _ -p $HEROKU_TOKEN registry.heroku.com
  - docker push registry.heroku.com/ase-delivery-service/web
  - apk add --no-cache curl
  ...

identity-service:package:
  image: maven:3.8.4-jdk-11
  stage: package
  script: cd backend/identity-service && mvn package
  artifacts:
    paths:
    - backend/identity-service/target/*.jar

heroku-deploy-identity:
  stage: deploy
  script:
  - cd backend/identity-service
  - docker build -f Dockerfile --iidfile imageid.txt -t registry.heroku.com/ase-identity-service/web .
  - docker login -u _ -p $HEROKU_TOKEN registry.heroku.com
  - docker push registry.heroku.com/ase-identity-service/web
  - apk add --no-cache curl
  ...

api-gateway:package:
  image: maven:3.8.4-jdk-11
  stage: package
  script: cd backend/api-gateway && mvn package
  artifacts:
    paths:
    - backend/api-gateway/target/*.jar

heroku-deploy-api-gateway:
  stage: deploy
  script:
  - cd backend/api-gateway
  - docker build -f Dockerfile --iidfile imageid.txt -t registry.heroku.com/ase-api-gateway/web .
  - docker login -u _ -p $HEROKU_TOKEN_97 registry.heroku.com
  - docker push registry.heroku.com/ase-api-gateway/web
  - apk add --no-cache curl
  ...

discovery-server:package:
  image: maven:3.8.4-jdk-11
  stage: package
  script: cd backend/discovery-server && mvn package
  artifacts:
    paths:
    - backend/discovery-server/target/*.jar

heroku-deploy-discovery-server:
  stage: deploy
  script:
  - cd backend/discovery-server
  - docker build -f Dockerfile --iidfile imageid.txt -t registry.heroku.com/ase-discovery-server/web .
  - docker login -u _ -p $HEROKU_TOKEN_97 registry.heroku.com
  - docker push registry.heroku.com/ase-discovery-server/web
  - apk add --no-cache curl
  ...

Fix bugs
  frontend/src/screens/Deliverer.jsx
Due: heroku-build-frontend

add the drop down menu
  frontend/src/screens/CreateNewDelivery.jsx
  frontend/yarn.lock
Due: heroku-build-frontend

Fixed small issues and scroll problem
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/screens/CreateNewDelivery.jsx
  frontend/src/screens/CreateNewUser.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Added Create new delivery and fixes
  frontend/src/components/Boxes/ChangeStatusBoxModal.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/components/Users/DeleteUserModal.jsx
  frontend/src/screens/CreateNewBoxes.jsx
  frontend/src/screens/CreateNewDelivery.jsx
  frontend/src/screens/CreateNewUser.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Cleaned code
  frontend/src/components/Boxes/BoxTable.jsx
  frontend/src/components/Boxes/ChangeStatusBoxModal.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/DeliveriesTable.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/Users/DeleteUserModal.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/components/Users/UserTable.jsx
  frontend/src/screens/CreateNewBoxes.jsx
  frontend/src/screens/CreateNewDelivery.jsx
  frontend/src/screens/CreateNewUser.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/screens/Signin.jsx
  frontend/src/slices/auth.js
Due: heroku-build-frontend

Fixed small issues
  frontend/src/components/Boxes/ChangeStatusBoxModal.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/components/Users/DeleteUserModal.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
Due: heroku-build-frontend

Update Capital role to appear as small letters Added requirements for required field on creating new users and boxes Cleaned up some code
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/screens/CreateNewUser.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

added loader and made /dispatcher, /deliverer and /customer protected route
  frontend/src/App.jsx
  frontend/src/components/Loader/BubbleLoader.js
  frontend/src/components/Loader/DoubleBubble.css
  frontend/src/components/ProjectTable.jsx
  frontend/src/protected_routes/ProtectedRoutes.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

Track Delivery page added
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/ProjectTable.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/TrackDelivery.jsx
  frontend/src/services/customer.service.js
Due: heroku-build-frontend

added get all empty boxes endpoint
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/BoxRepository.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

Update TrackDelivery.jsx
  frontend/src/screens/TrackDelivery.jsx
Due: heroku-build-frontend

Update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: heroku-build-frontend

added user update in identity service /users/auth/{id}
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/UpdateUserRequest.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/AuthController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/UserController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/payload/request/UpdateUserRequest.java
Due: delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity

updated the updateUser endpoint not yet finished
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/RegisterUserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/UserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/UpdateUserRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

Create landing page for customer "Customer.jsx" and added Customerdeliveries page
  .idea/ase-delivery-system.iml
  frontend/src/App.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/CustomerDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

Create landing page for customer "Customer.jsx" and added Customerdeliveries page
  frontend/src/images/mydeliveries.jpg
  frontend/src/images/trackdelivery.jpg
  frontend/src/screens/CreateNewUser.jsx
Due: heroku-build-frontend

Fixing errors in pipeline
  frontend/src/screens/Customer.jsx
Due: heroku-build-frontend

Adding the imgs missing
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/screens/Customer.jsx
Due: heroku-build-frontend

Revert "Merge branch 'main' into loader_feature"
  .idea/ase-delivery-system.iml
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/RegisterUserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/UserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/UpdateUserRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/BoxRepository.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxServiceImpl.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/AuthController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/UserController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/payload/request/UpdateUserRequest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/images/mydeliveries.jpg
  frontend/src/images/trackdelivery.jpg
  frontend/src/screens/CreateNewUser.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/CustomerDeliveries.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/screens/TrackDelivery.jsx
  frontend/src/services/customer.service.js
Due: heroku-build-frontend, delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity

Revert "Revert "Merge branch 'main' into loader_feature""
  .idea/ase-delivery-system.iml
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/RegisterUserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/UserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/UpdateUserRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/BoxRepository.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxServiceImpl.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/AuthController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/UserController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/payload/request/UpdateUserRequest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/images/mydeliveries.jpg
  frontend/src/images/trackdelivery.jpg
  frontend/src/screens/CreateNewUser.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/CustomerDeliveries.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/screens/TrackDelivery.jsx
  frontend/src/services/customer.service.js
Due: heroku-build-frontend, delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity

updated the readme file
  .idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_8.xml
  .idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_16.xml
  .idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
  .idea/libraries/Maven__io_github_classgraph_classgraph_4_8_83.xml
  .idea/libraries/Maven__io_springfox_springfox_spring_webmvc_3_0_0.xml
  .idea/libraries/Maven__io_springfox_springfox_swagger2_3_0_0.xml
  .idea/libraries/Maven__io_springfox_springfox_swagger_common_3_0_0.xml
  .idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_562.xml
  .idea/libraries/Maven__org_codehaus_woodstox_stax2_api_4_2_12.xml
  .idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_2_0_Final.xml
  .idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
  .idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8_1.xml
  .idea/libraries/Maven__org_mockito_mockito_core_3_9_02.xml
  .idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
  .idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_32.xml
  .idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
  .idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_32.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_cache_2_5_82.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_82.xml
  .idea/libraries/Maven__org_springframework_data_spring_data_mongodb_3_2_72.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_core_5_5_42.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_42.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_10_RELEASE2.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_web_5_5_42.xml
  .idea/libraries/Maven__org_springframework_spring_web_5_3_142.xml
  .idea/libraries/Maven__org_springframework_spring_webmvc_5_3_142.xml
  README.md
Due: none

added images folder
  README.md
  images/ase-arch.png
Due: none

Handling Errors in Modals and size error
  frontend/src/components/Boxes/ChangeStatusBoxModal.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/components/Users/DeleteUserModal.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

Change edit on click row to double click
  frontend/src/components/Boxes/ChangeStatusBoxModal.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Users/DeleteUserModal.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

fixed customer landing page
  frontend/src/screens/Customer.jsx
Due: heroku-build-frontend

Post request user accesses box
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/BoxUserAuthorizationRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

Update hardware/auth.py
  hardware/auth.py
Due: none

Update hardware/testclosed.py
  hardware/testclosed.py
Due: none

check for already exsiting email username
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/UpdateAuthUserRequest.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/UserController.java
Due: delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity

updated the updateUser service
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/UserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/UpdateAuthUserRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

changed link from local to live
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

added error handler for delivery service
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/error/ControllerAdviceHandler.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/UserRepository.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

added check if token already exists when creating new user
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/RegisterUserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/models/User.java
Due: delivery-service:package, heroku-deploy-delivery

Updating Delivery creation
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/screens/CreateNewDelivery.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

chenged the link post rest
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

added check if user authorised to open box
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/UserRepository.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryServiceImpl.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

correct
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/UserRepository.java
Due: delivery-service:package, heroku-deploy-delivery

corrected variant
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
Due: delivery-service:package, heroku-deploy-delivery

delivery service fix
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/DeliveryController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/DeliveryRepository.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

changed delivery service functions
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
Due: delivery-service:package, heroku-deploy-delivery

Path conditions:
  heroku-build-frontend: any of: frontend/**/*
  delivery-service:package: any of: backend/delivery-service/**/*
  heroku-deploy-delivery: any of: backend/delivery-service/**/*
  identity-service:package: any of: backend/identity-service/**/*
  heroku-deploy-identity: any of: backend/identity-service/**/*
  api-gateway:package: any of: backend/api-gateway/**/*
  heroku-deploy-api-gateway: any of: backend/api-gateway/**/*
  discovery-server:package: any of: backend/discovery-server/**/*
  heroku-deploy-discovery-server: any of: backend/discovery-server/**/*
