Repository ASE-Delivery-System/delivery-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: heroku-build-frontend, delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity, api-gateway:package, heroku-deploy-api-gateway, discovery-server:package, heroku-deploy-discovery-server

Path conditions:
  heroku-build-frontend: any of: frontend/**/*
  delivery-service:package: any of: backend/delivery-service/**/*
  heroku-deploy-delivery: any of: backend/delivery-service/**/*
  identity-service:package: any of: backend/identity-service/**/*
  heroku-deploy-identity: any of: backend/identity-service/**/*
  api-gateway:package: any of: backend/api-gateway/**/*
  heroku-deploy-api-gateway: any of: backend/api-gateway/**/*
  discovery-server:package: any of: backend/discovery-server/**/*
  heroku-deploy-discovery-server: any of: backend/discovery-server/**/*

edituser page
  frontend/src/components/Users/EditUserModal.jsx
Due: heroku-build-frontend

Edit user working
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

closed properly endpoint
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/BoxUserAuthorizationRequest.java
Due: delivery-service:package, heroku-deploy-delivery

Home page update, added contributions file
  contribution/Team10_ASEDeliverySystem.pdf
  frontend/src/components/HomePageServices.jsx
  frontend/src/images/fast.jpg
  frontend/src/images/reliable.jpg
Due: heroku-build-frontend

Home page update, added contributions file
  frontend/src/components/HomePageServices.jsx
  frontend/src/components/Users/EditUserModal.jsx
Due: heroku-build-frontend

FIxes
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

added protected routes and changed fav icon
  frontend/package-lock.json
  frontend/public/delivery-truck.png
  frontend/public/index.html
  frontend/src/App.jsx
  frontend/src/protected_routes/ProtectedRoutes.jsx
Due: heroku-build-frontend

removed indexed
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/models/User.java
Due: delivery-service:package, heroku-deploy-delivery

changed error message
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

fixed the issue when updating dispatcher
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

changed reamd me file
  .idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_562.xml
  .idea/libraries/Maven__org_codehaus_woodstox_stax2_api_4_2_12.xml
  .idea/libraries/Maven__org_mockito_mockito_core_3_9_02.xml
  .idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_32.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_cache_2_5_82.xml
  .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_82.xml
  .idea/libraries/Maven__org_springframework_data_spring_data_mongodb_3_2_72.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_core_5_5_42.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_42.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_10_RELEASE2.xml
  .idea/libraries/Maven__org_springframework_security_spring_security_web_5_5_42.xml
  .idea/libraries/Maven__org_springframework_spring_web_5_3_142.xml
  .idea/libraries/Maven__org_springframework_spring_webmvc_5_3_142.xml
  README.md
Due: none

Bug fix in EditUserModal so changing roles is more dynamic
  frontend/src/components/Users/EditUserModal.jsx
Due: heroku-build-frontend

added docker compose and udpate readme
  README.md
  docker-compose.yml
Due: none

downgraded spring boot
  backend/email-service/pom.xml
Due: none

update of compose
  docker-compose.yml
Due: none

Updated EditUserModal to include RFID Token Update
  frontend/src/components/Users/EditUserModal.jsx
Due: heroku-build-frontend

deliverer creation fix
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

deleted test controller and fixed user update email
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/TestController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/UserController.java
Due: identity-service:package, heroku-deploy-identity

corrected role deliverer
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
Due: delivery-service:package, heroku-deploy-delivery

configuration of security and changed deliveries field to DBref
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/CustomerController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/DeliveryController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/RegisterUserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/models/Box.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/security/WebSecurityConfig.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
  backend/delivery-service/src/test/java/com/asedelivery/deliveryservice/ComponentUnitTest.java
Due: delivery-service:package, heroku-deploy-delivery

box closed small fix
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
Due: delivery-service:package, heroku-deploy-delivery

changed the link
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

issue with missing role
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/screens/CreateNewUser.jsx
Due: heroku-build-frontend

issue with missing role
  frontend/src/screens/CreateNewUser.jsx
Due: heroku-build-frontend

issue with missing role
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

issue with missing role
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/screens/CreateNewUser.jsx
Due: heroku-build-frontend

Update NewUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
Due: heroku-build-frontend

Update hardware/auth.py
  hardware/auth.py
Due: none

Update hardware/config_file.json Deleted hardware/testclosed.py
  hardware/config_file.json
  hardware/testclosed.py
Due: none

Replace Team10_ASEDeliverySystem.pdf
  contribution/Team10_ASEDeliverySystem.pdf
Due: none
