Repository ASE-Delivery-System/delivery-system: changes, and which GitLab CI jobs are due for each by the changed paths.
All: heroku-build-frontend, delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity, api-gateway:package, heroku-deploy-api-gateway, discovery-server:package, heroku-deploy-discovery-server

Path conditions:
  heroku-build-frontend: any of: frontend/**/*
  delivery-service:package: any of: backend/delivery-service/**/*
  heroku-deploy-delivery: any of: backend/delivery-service/**/*
  identity-service:package: any of: backend/identity-service/**/*
  heroku-deploy-identity: any of: backend/identity-service/**/*
  api-gateway:package: any of: backend/api-gateway/**/*
  heroku-deploy-api-gateway: any of: backend/api-gateway/**/*
  discovery-server:package: any of: backend/discovery-server/**/*
  heroku-deploy-discovery-server: any of: backend/discovery-server/**/*

Quick update
  frontend/src/components/Footer.jsx
  frontend/src/screens/Dispatcher.jsx
Due: heroku-build-frontend

Fixing deliveries view
  frontend/package-lock.json
  frontend/src/components/ProjectTable.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/services/customer.service.js
  frontend/src/services/deliverer.service.js
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Deliveries Component update
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/DeliveriesTable.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/components/Header.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

fixed the targetbox issue && changed from BodyResponse to Pathparam for get requests
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/DeliveryController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/models/Box.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/models/Delivery.java
Due: delivery-service:package, heroku-deploy-delivery

added job for email-sevice .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Fixed Deliveries Table
  frontend/src/components/Header.jsx
  frontend/src/screens/CreateNewDelivery.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/services/customer.service.js
  frontend/src/services/deliverer.service.js
Due: heroku-build-frontend

added Dockerfile
  backend/email-service/Dockerfile
Due: none

updated dispatcher.service.js
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

added create new boxes page
  frontend/src/screens/CreateNewBoxes.jsx
Due: heroku-build-frontend

added create new boxes page
  frontend/src/App.jsx
  frontend/src/screens/CreateNewBoxes.jsx
  frontend/src/screens/Dispatcher.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

added component unit tests
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/security/jwt/JwtUtils.java
  backend/delivery-service/src/test/java/com/asedelivery/deliveryservice/ComponentUnitTest.java
Due: delivery-service:package, heroku-deploy-delivery

fixed rfid token field bug
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/RegisterUserRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

fixed rfid token field bug1
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/models/User.java
Due: delivery-service:package, heroku-deploy-delivery

fix: saving user in identity service with the same id as in delivery service
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/RegisterUserController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/RegisterUserRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/UserRegisterObj.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/AuthController.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/models/User.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/payload/request/SignupRequest.java
Due: delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity

Working Delete Deliveries
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/services/customer.service.js
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Fixed small bugs
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
Due: heroku-build-frontend

updated dispatcher.js
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

updated delete box and user, and updated views of box and user management to include modals. Updated views to edit the user+box and reload the pages
  frontend/src/App.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Users/DeleteUserModal.jsx
  frontend/src/components/Users/NewUserModal.jsx
  frontend/src/components/Users/UserTable.jsx
  frontend/src/screens/Dispatcher.jsx
  frontend/src/screens/EditUser.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

updated delete box and user, and updated views of box and user management to include modals. Updated views to edit the user+box and reload the pages
  frontend/src/screens/ListBoxes.jsx
Due: heroku-build-frontend

updated delete box and user, and updated views of box and user management to include modals. Updated views to edit the user+box and reload the pages
  frontend/.idea/.name
  frontend/src/components/Boxes/BoxTable.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
Due: heroku-build-frontend

added new box modal
  frontend/src/components/Boxes/NewBoxModal.jsx
Due: heroku-build-frontend

Draft Change Status
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/screens/Dispatcher.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

Deliveries Management completed
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Quick updates
  frontend/src/components/Boxes/BoxTable.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/DeliveriesTable.jsx
  frontend/src/components/ProjectTable.jsx
  frontend/src/components/Users/UserTable.jsx
  frontend/src/screens/CreateNewDelivery.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/screens/ListUsers.jsx
Due: heroku-build-frontend

New fixes
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/components/Users/DeleteUserModal.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

fixed userdeleteBy id (delete also from auth db)
  backend/api-gateway/src/main/resources/application.yml
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryServiceImpl.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/UserServiceImpl.java
  backend/identity-service/src/main/java/com/asedelivery/identityservice/controllers/UserController.java
Due: delivery-service:package, heroku-deploy-delivery, identity-service:package, heroku-deploy-identity, api-gateway:package, heroku-deploy-api-gateway

fixed delivery management when deleting delivery*
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/DeliveryController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/DeliveryRequest.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxService.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/BoxServiceImpl.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

Update for Clarissa
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Header.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/Signin.jsx
Due: heroku-build-frontend

small fix signin page
  frontend/src/screens/Signin.jsx
Due: heroku-build-frontend

fixed issue when user logs in and out. 401/400 error keeps appearing and saw that this was because of issue that page was not reloaded after successful sign in
  frontend/src/screens/Signin.jsx
Due: heroku-build-frontend

Edit Box added
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Corrected post user request
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Updated Delivery and Box Management
  frontend/src/components/Boxes/ChangeStatusBoxModal.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

changed box status update
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/controllers/BoxController.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/payload/request/BoxStatusUpdateRequest.java
Due: delivery-service:package, heroku-deploy-delivery

Bigs fixed
  frontend/src/components/Boxes/ChangeStatusBoxModal.jsx
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Boxes/NewBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Deliveries/DeleteDeliveryModal.jsx
  frontend/src/components/Deliveries/NewDeliveryModal.jsx
  frontend/src/screens/Customer.jsx
  frontend/src/screens/Deliverer.jsx
  frontend/src/screens/ListBoxes.jsx
  frontend/src/screens/ListDeliveries.jsx
  frontend/src/services/deliverer.service.js
Due: heroku-build-frontend

fixed get all deliveries of delivererById
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/repository/DeliveryRepository.java
  backend/delivery-service/src/main/java/com/asedelivery/deliveryservice/service/DeliveryServiceImpl.java
Due: delivery-service:package, heroku-deploy-delivery

Page for edit user created but missing ability to actually update the user
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/components/Users/UserTable.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend

Update User completed and cleaned up code
  frontend/src/components/Boxes/DeleteBoxModal.jsx
  frontend/src/components/Boxes/EditBoxModal.jsx
  frontend/src/components/Deliveries/ChangeStatusModal.jsx
  frontend/src/components/Users/EditUserModal.jsx
  frontend/src/screens/ListUsers.jsx
  frontend/src/services/dispatcher.service.js
Due: heroku-build-frontend
